@charset "UTF-8";

@import "./object/component";

@media screen and (min-width: 1024px) {
  .l_pc-nav {
    display: block;
  }

  .p_nav {
    display: none;
  }

  .p_hero {
    &__catch {
      right: 25%;
      bottom: none;
      top: 38vh;
      font-size: 1.75rem;
      transform: translateX(50%);
    }

    &__gocheck {
      bottom: 38vh;
      left: 75%;
      width: 30%;
      text-align: center;
      background: $main_color;
      color: #fff;
    }
  }

  .p_scroll {
    left: 75%;
  }

  .p_nav {
    // display: none;

    &__contents {
        // display: block;
        bottom: 120px;
    }
  }

  .l_main {
    background: url("../src/images/hero_img.jpeg") no-repeat left center fixed;
    background-size: contain;
  }

  .l_hero {
    background: none;
  }

  .l_top-section {
    width: 50%;
    margin-left: auto;

    &:last-child {
      padding-bottom: 64px;
    }
  }

  .l_footer {
    margin-top: 0;
  }

  .c_top-text {
    font-size: 1.2rem;
  }

  .p_faq-figure__text {
    font-size: 1rem;
  }

  .p_result {
    &__coordinate {
      flex-direction: row;
      justify-content: center;
    }

    &__model-img {
      width: 240px;
      height: 400px;
      margin-right: 88px;
    }

    &__item {
      margin-top: 0;
    }
  }

  .p_result {
    &__lg-list {
      width: 80%;
      margin: 0 auto;
    }
  }
}

@media screen and (min-width: 1200px) {
  .l_main {
    background-size: 50% auto;
  }

  .l_checker__info {
    height: 100vh;
  }
}
