@charset "UTF-8";

@import "./object/component";


@media screen and (min-width: 1024px) {

  html {
    font-size: 16px;
  }

  body {
    // font-size: 1.142857142857143rem;
    font-size: 100%;
    letter-spacing: 0.05rem;
  }

  .l_pc-nav {
    display: block;
  }

  .p_nav {
    display: none;
  }

  // .l_hero {
  //   width: 50%;
  //   margin-left: auto;
  // }

  .p_hero {
    &__catch {
      right: 50%;
      top: 38vh;
      font-size: 2rem;
      transform: translateX(50%);
    }

    &__gocheck {
      bottom: 38vh;
      left: 50%;
      width: 70%;
      text-align: center;
      background: $main_color;
      color: #fff;
    }
  }

  .p_scroll {
    left: 75%;
    font-size: 1.5rem;
    font-weight: lighter;
    letter-spacing: 0;
    font-family: 'Montserrat';

    &__line {
      height: 48px;
      margin-top: 0px;
    }
  }

  .p_nav {
    // display: none;

    &__contents {
      // display: block;
      bottom: 120px;
    }
  }

  .l_top-wrap {
    background: url("../src/images/top_bg.jpg") no-repeat left center fixed;
    background-size: 50% auto;
  }

  .l_re-wrap,
  .l_he-wrap,
  .l_type-wrap {
    background: url("../src/images/top_bg_2.jpg") no-repeat left center fixed;
    background-size: 50% auto;
  }

  .l_hero {
    background: none;
  }

  .l_main {
    width: 50%;
    margin-left: auto;
    box-shadow: 0 0 8px rgba($color: #000000, $alpha: 0.3);
    background: #fff;
  }

  .l_footer {
    margin-top: 0;
    width: 50%;
    margin-left: auto;
    box-shadow: 0 0 8px rgba($color: #000000, $alpha: 0.3);
  }

  .c_top-text {
    font-size: 1.2rem;
  }

  .p_faq-figure__text {
    font-size: 1rem;
  }

  .p_fashion__list {
    width: 70%;
  }

  .p_fashion__item {
    height: 120px;

    i {
      font-size: 3rem;
    }
  }

  // .p_faq-figure__bg {
  //   z-index: 0;
  // }

  // .p_faq-figure__flex {
  //   z-index: 10;
  // }

  // .p_result {
  //   &__coordinate {
  //     flex-direction: row;
  //     justify-content: center;
  //   }

  //   &__model-img {
  //     width: 240px;
  //     height: 400px;
  //     margin-right: 88px;
  //   }

  //   &__item {
  //     margin-top: 0;
  //   }
  // }

  .p_result {
    &__lg-list {
      width: 80%;
      margin: 0 auto;
    }
  }

  .l_header {
    position: fixed;
  }

  .p_re-title {
    padding-top: 64px;
  }

  .p_he-title {
    padding-top: 64px;
  }

  .p_result__title {
    padding-top: 64px;
  }

  .p_result__saml {
    display: flex;

    li {
      width: calc(100% / 3);
    }

    li:not(:first-child) {
      margin-left: 8px;
      padding-left: 8px;
      border-left: 1px solid #ccc;
    }
  }

  .p_re-sil-list {
    font-size: .8rem;
  }

  .p_re-skl__box {
    font-size: .8rem;
  }
}