@charset "UTF-8";
/*! destyle.css v2.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  outline: 0;
  border-radius: 0;
  text-align: inherit;
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type="checkbox"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
       appearance: checkbox;
}

[type="radio"] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
       appearance: radio;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}

button[disabled],
[type="button"][disabled],
[type="reset"][disabled],
[type="submit"][disabled] {
  cursor: default;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Remove arrow in IE10 & IE11
 */
select::-ms-expand {
  display: none;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type="search"] {
  outline-offset: -2px;
  /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable] {
  outline: none;
}

/* Table */
/* ============================================ */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

/* Misc */
/* ============================================ */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

@font-face {
  font-family: "Honoka Maru";
  src: url("https://dl.dropboxusercontent.com/s/a78q5udslq63gbn/font_1_honokamarugo_1.1.woff") format("woff"), url("https://dl.dropboxusercontent.com/s/gab5nkdwx2hqstq/font_1_honokamarugo_1.1.ttf") format("truetype"), url("../../src/font/font_1_honokamarugo_1.1.woff") format("woff"), url("../../src/font/font_1_honokamarugo_1.1.ttf") format("truetype");
}

body {
  font-size: 16px;
  font-family: "Honoka Maru", "筑紫A丸ゴシック", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  color: #333;
  letter-spacing: 0.1rem;
}

p {
  line-height: 1.75rem;
}

li {
  list-style: disc;
}

nav li {
  list-style: none;
}

img {
  width: 100%;
}

@-webkit-keyframes openMenu {
  0% {
    display: inline-block;
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes openMenu {
  0% {
    display: inline-block;
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@-webkit-keyframes jumpGocheck {
  100% {
    -webkit-transform: translateX(-50%) scale(1.1, 1.1);
            transform: translateX(-50%) scale(1.1, 1.1);
  }
}

@keyframes jumpGocheck {
  100% {
    -webkit-transform: translateX(-50%) scale(1.1, 1.1);
            transform: translateX(-50%) scale(1.1, 1.1);
  }
}

@-webkit-keyframes ganimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes ganimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.c_index {
  position: relative;
  text-align: center;
  margin-top: 110px;
  margin-bottom: 56px;
  font-size: 1.75rem;
  font-weight: bold;
}

.c_index::before {
  content: "";
  bottom: -16px;
  left: 50%;
  position: absolute;
  width: 160px;
  height: 6px;
  background: #4169e1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.c_top-text {
  margin: 32px auto;
  padding: 0 40px;
  font-size: 1rem;
  line-height: 2rem;
  text-align: center;
}

.l_sam {
  height: 100vh;
}

.l_header {
  position: fixed;
  width: 100%;
  padding: 16px 0;
  text-align: center;
  z-index: 999;
}

.l_header img {
  width: 160px;
}

.l_hero {
  position: relative;
  height: 100vh;
  background: url("../src/images/hero_img.jpeg") center;
  background-size: cover;
}

.l_top-section {
  padding: 2%;
}

.l_footer {
  margin-top: 64px;
  padding: 32px;
  background: #eee;
  text-align: center;
}

.l_checker__sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  text-align: center;
}

.l_checker__in {
  width: 100%;
}

.l_checker__in h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

.l_checker__in p {
  margin: 1rem;
}

.l_checker__in span {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 0 2px 16px;
  border: solid #ccc 1px;
  border-radius: 50%;
}

.l_checker__in span.active {
  background: #4169e1;
}

@keyframes openMenu {
  0% {
    display: inline-block;
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes jumpGocheck {
  100% {
    -webkit-transform: translateX(-50%) scale(1.1, 1.1);
            transform: translateX(-50%) scale(1.1, 1.1);
  }
}

@keyframes ganimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.c_index {
  position: relative;
  text-align: center;
  margin-top: 110px;
  margin-bottom: 56px;
  font-size: 1.75rem;
  font-weight: bold;
}

.c_index::before {
  content: "";
  bottom: -16px;
  left: 50%;
  position: absolute;
  width: 160px;
  height: 6px;
  background: #4169e1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.c_top-text {
  margin: 32px auto;
  padding: 0 40px;
  font-size: 1rem;
  line-height: 2rem;
  text-align: center;
}

@keyframes openMenu {
  0% {
    display: inline-block;
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes jumpGocheck {
  100% {
    -webkit-transform: translateX(-50%) scale(1.1, 1.1);
            transform: translateX(-50%) scale(1.1, 1.1);
  }
}

@keyframes ganimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.c_index {
  position: relative;
  text-align: center;
  margin-top: 110px;
  margin-bottom: 56px;
  font-size: 1.75rem;
  font-weight: bold;
}

.c_index::before {
  content: "";
  bottom: -16px;
  left: 50%;
  position: absolute;
  width: 160px;
  height: 6px;
  background: #4169e1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.c_top-text {
  margin: 32px auto;
  padding: 0 40px;
  font-size: 1rem;
  line-height: 2rem;
  text-align: center;
}

.p_hero__catch {
  position: absolute;
  bottom: 34vh;
  right: 3%;
  font-size: 1.25rem;
  font-family: serif;
  color: #000;
}

.p_hero__gocheck {
  display: block;
  position: absolute;
  bottom: 15vh;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 2.25rem;
  white-space: nowrap;
  color: #000;
  padding: 1rem 2rem;
  background: #fff;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-animation: jumpGocheck 0.8s infinite alternate;
          animation: jumpGocheck 0.8s infinite alternate;
}

.p_hero__gocheck:hover {
  -webkit-box-shadow: 0 0 2rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 2rem rgba(0, 0, 0, 0.3);
}

.p_nav {
  position: fixed;
  bottom: 16px;
  right: 16px;
  width: 48px;
  height: 48px;
  cursor: pointer;
  z-index: 999;
}

.p_nav span {
  position: absolute;
  left: 50%;
  width: 75%;
  height: 4px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #4169e1;
}

.p_nav span:first-child {
  top: 25%;
}

.p_nav span:nth-child(2) {
  top: 50%;
}

.p_nav span:last-child {
  top: 75%;
}

.p_nav span.change {
  background: #fff;
}

.p_nav.open span:first-child {
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(225deg);
          transform: translate(-50%, -50%) rotate(225deg);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.p_nav.open span:nth-child(2) {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
}

.p_nav.open span:last-child {
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-225deg);
          transform: translate(-50%, -50%) rotate(-225deg);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.p_nav.change {
  background: #4169e1;
}

.p_nav__contents {
  position: fixed;
  bottom: 76px;
  right: 16px;
  z-index: 998;
  text-align: right;
}

.p_nav__item {
  display: none;
  opacity: 0;
  margin: 8px 0;
  background: #4169e1;
  border-radius: 16px;
  color: #fff;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.p_nav__item a {
  display: block;
  padding: 16px;
}

.p_nav__item:hover {
  background-color: #2b58de;
}

.p_nav__item:first-child {
  -webkit-transform: translateY(300px);
          transform: translateY(300px);
}

.p_nav__item:nth-child(3) {
  -webkit-transform: translateY(254px);
          transform: translateY(254px);
}

.p_nav__item:nth-child(5) {
  -webkit-transform: translateY(188px);
          transform: translateY(188px);
}

.p_nav__item:nth-child(7) {
  -webkit-transform: translateY(128px);
          transform: translateY(128px);
}

.p_nav__item:last-child {
  -webkit-transform: translateY(62px);
          transform: translateY(62px);
}

.p_nav__item.open {
  display: inline-block;
  -webkit-animation: openMenu 0.3s ease-out forwards;
          animation: openMenu 0.3s ease-out forwards;
}

.p_nav__item.open:nth-child(3) {
  -webkit-animation-delay: 0.05s;
          animation-delay: 0.05s;
}

.p_nav__item.open:nth-child(5) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.p_nav__item.open:nth-child(7) {
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
}

.p_nav__item.open:last-child {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.p_scroll {
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1;
  font-size: 0.8rem;
}

.p_scroll__line {
  width: 1px;
  height: 32px;
  background: currentColor;
  margin: 8px auto 0;
}

.p_fashion__item {
  position: relative;
  margin: 32px auto;
  width: 80%;
  height: 160px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.2);
}

.p_fashion__item img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  mix-blend-mode: darken;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.p_fashion__item img:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

.p_fashion__text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
  text-shadow: 0 0 4px black;
  z-index: 10;
  font-size: 1.5rem;
}

.p_read__img {
  display: block;
  width: 240px;
  height: 240px;
  -o-object-fit: contain;
     object-fit: contain;
  margin: auto;
  border: #4169e1 2px solid;
}

.p_faq-figure {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}

.p_faq-figure__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 32px;
}

.p_faq-figure__flex img {
  width: 25%;
  max-width: 120px;
  min-width: 50px;
}

.p_faq-figure__flex img:last-child {
  max-width: 200px;
  min-width: 110px;
}

.p_faq-figure__text, .p_faq-figure__text--low {
  position: relative;
  width: 60%;
  padding: 32px 16px;
  font-size: .8rem;
  background: #fff;
  border-radius: 16px;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  white-space: nowrap;
}

.p_faq-figure__text::before, .p_faq-figure__text--low::before {
  content: "";
  position: absolute;
  left: -44px;
  top: 50%;
  width: 0;
  height: 0;
  border: 22px solid;
  border-color: transparent #fff transparent transparent;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.p_faq-figure__text--low::before {
  left: 100%;
  border-color: transparent transparent transparent #fff;
}

.p_faq-figure__bg {
  position: absolute;
  top: 10%;
  bottom: 10%;
  left: 10%;
  right: 10%;
  background: #c5d1f6;
  z-index: -50;
}

.p_top-button {
  display: block;
  width: 70%;
  margin: 0px auto 0;
  padding: 16px;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  color: #fff;
  background: #4169e1;
  max-width: 800px;
  -webkit-transition: .1s;
  transition: .1s;
}

.p_top-button:hover {
  opacity: .8;
}

.p_footer__zozo {
  width: 280px;
}

.p_footer__title {
  margin: 32px 0 8px;
  font-size: 1.15rem;
}

.p_footer__link, .p_footer__link--other {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.p_footer__link a, .p_footer__link--other a {
  margin: 4px 8px;
  text-decoration: underline;
}

.p_footer__link--other {
  margin: 8px;
}

.p_footer__gotop {
  display: inline-block;
  margin-top: 32px;
}

.p_footer__gotop i {
  padding: 4px;
  margin-left: 4px;
  font-size: .8rem;
  font-weight: bold;
  border-radius: 50%;
  background: #ccc;
  color: #fff;
}

.p_footer__copyright {
  margin-top: 32px;
  padding-top: 16px;
  border-top: 1px solid;
}

.p_footer__copyright small {
  display: block;
  letter-spacing: 0;
  line-height: 1rem;
  font-size: .5rem;
}

.p_checker__btn li {
  display: block;
  width: 70%;
  margin: 0px auto 0;
  padding: 16px;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  color: #fff;
  background: #4169e1;
  max-width: 800px;
  -webkit-transition: .1s;
  transition: .1s;
  margin-bottom: 16px;
  list-style: none;
  font-size: 1rem;
  font-weight: normal;
  cursor: pointer;
}

.p_checker__btn li:hover {
  opacity: .8;
}

.p_checker__frontg {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fff;
  z-index: 500;
}

.p_checker__frontg.active {
  display: block;
  -webkit-animation: ganimation .8s forwards;
          animation: ganimation .8s forwards;
}
/*# sourceMappingURL=style.css.map */