@charset "UTF-8";
/*! destyle.css v2.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  outline: 0;
  border-radius: 0;
  text-align: inherit;
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type="checkbox"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
       appearance: checkbox;
}

[type="radio"] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
       appearance: radio;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}

button[disabled],
[type="button"][disabled],
[type="reset"][disabled],
[type="submit"][disabled] {
  cursor: default;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Remove arrow in IE10 & IE11
 */
select::-ms-expand {
  display: none;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type="search"] {
  outline-offset: -2px;
  /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable] {
  outline: none;
}

/* Table */
/* ============================================ */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

/* Misc */
/* ============================================ */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

@font-face {
  font-family: "Iroha Maru";
  src: url("https://dl.dropboxusercontent.com/s/nc6ug79knokcvz2/irohamaru-Light.woff") format("woff"), url("https://dl.dropboxusercontent.com/s/qck3x69a8bw0xax/irohamaru-Light.ttf") format("truetype"), url("../../src/font/irohamaru-Light.woff") format("woff"), url("../../src/font/irohamaru-Light.ttf") format("truetype");
  font-weight: lighter;
}

@font-face {
  font-family: "Iroha Maru";
  src: url("https://dl.dropboxusercontent.com/s/pmfl5mee8fx747d/irohamaru-Regular.woff") format("woff"), url("https://dl.dropboxusercontent.com/s/rmou1v9s15gqupk/irohamaru-Regular.ttf") format("truetype"), url("../../src/font/irohamaru-Regular.woff") format("woff"), url("../../src/font/irohamaru-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Iroha Maru";
  src: url("https://dl.dropboxusercontent.com/s/w15lbwt20rq7ftt/irohamaru-Medium.woff") format("woff"), url("https://dl.dropboxusercontent.com/s/uqvyyxfmigoz1zb/irohamaru-Medium.ttf") format("truetype"), url("../../src/font/irohamaru-Medium.woff") format("woff"), url("../../src/font/irohamaru-Medium.ttf") format("truetype");
  font-weight: bold;
}

*::-moz-selection {
  background-color: #4169e1;
  color: #fff;
}

*::selection {
  background-color: #4169e1;
  color: #fff;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  font-family: "Iroha Maru", "筑紫A丸ゴシック", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  color: #454555;
  letter-spacing: 0.05rem;
}

p {
  line-height: 1.75rem;
}

li {
  list-style: disc;
}

nav li {
  list-style: none;
}

img {
  width: 100%;
}

@-webkit-keyframes openMenu {
  0% {
    display: inline-block;
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes openMenu {
  0% {
    display: inline-block;
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@-webkit-keyframes catchView {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  25% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  50% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@keyframes catchView {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  25% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  50% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@-webkit-keyframes catchTrans {
  0% {
    color: transparent;
  }
  25% {
    color: transparent;
  }
  50% {
    color: transparent;
  }
  51% {
    color: #000;
  }
  100% {
    color: #000;
  }
}

@keyframes catchTrans {
  0% {
    color: transparent;
  }
  25% {
    color: transparent;
  }
  50% {
    color: transparent;
  }
  51% {
    color: #000;
  }
  100% {
    color: #000;
  }
}

@-webkit-keyframes jumpGocheck {
  100% {
    -webkit-transform: translateX(-50%) scale(1.1, 1.1);
            transform: translateX(-50%) scale(1.1, 1.1);
  }
}

@keyframes jumpGocheck {
  100% {
    -webkit-transform: translateX(-50%) scale(1.1, 1.1);
            transform: translateX(-50%) scale(1.1, 1.1);
  }
}

@-webkit-keyframes ganimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes ganimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.c_top-text {
  margin: 32px auto;
  padding: 0 40px;
  font-size: 1rem;
  line-height: 2rem;
  text-align: center;
}

@-webkit-keyframes resultAnime {
  100% {
    opacity: 0;
  }
}

@keyframes resultAnime {
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes openHelp {
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes openHelp {
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.l_sam {
  height: 100vh;
}

.l_header {
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  padding: 16px 0;
  text-align: center;
  z-index: 999;
}

.l_header img {
  width: 160px;
}

.l_hero {
  position: relative;
  height: 100vh;
  background: url("../src/images/top_bg.jpg") left top;
  background-size: cover;
}

.l_top-section {
  padding: 48px 2%;
}

.l_footer {
  margin-top: 64px;
  padding: 32px;
  background: #eee;
  text-align: center;
}

.l_checker__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("../src/images/top_bg_2.jpg") no-repeat center;
  background-size: cover;
  height: 100vh;
}

.l_checker__info-wrap {
  width: 90%;
  margin: 5% auto;
  padding: 32px 16px;
  background: rgba(255, 255, 255, 0.9);
  text-align: center;
}

.l_checker__sec {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.l_checker__in {
  width: 100%;
}

.l_checker__in h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

.l_checker__in p {
  margin: 1rem;
}

.l_checker__in span {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 0 2px 24px;
  border: solid #ccc 1px;
  border-radius: 50%;
}

.l_checker__in span.active {
  background: #4169e1;
}

.l_checker__result {
  cursor: pointer;
}

.l_pc-nav {
  display: none;
  position: fixed;
  width: 50%;
  height: 100vh;
  left: 0;
  margin-right: auto;
  overflow: hidden;
  z-index: 0;
}

.l_he-section {
  margin: 64px auto;
}

.l_he-section:last-child {
  margin-bottom: 0;
  padding-bottom: 64px;
}

.l_he-form {
  width: 70%;
  margin: 32px auto;
}

.l_re-section {
  margin: 64px auto;
  padding: 0 4%;
}

.l_re-section:last-child {
  margin-bottom: 0;
  padding-bottom: 64px;
}

.l_re-section p span {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(70%, transparent), color-stop(70%, #fecd5e));
  background: linear-gradient(transparent 70%, #fecd5e 70%);
}

.l_re-sil li {
  list-style: none;
}

.l_re-sil p {
  margin-top: 16px;
}

@keyframes openMenu {
  0% {
    display: inline-block;
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes catchView {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  25% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  50% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@keyframes catchTrans {
  0% {
    color: transparent;
  }
  25% {
    color: transparent;
  }
  50% {
    color: transparent;
  }
  51% {
    color: #000;
  }
  100% {
    color: #000;
  }
}

@keyframes jumpGocheck {
  100% {
    -webkit-transform: translateX(-50%) scale(1.1, 1.1);
            transform: translateX(-50%) scale(1.1, 1.1);
  }
}

@keyframes ganimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.c_top-text {
  margin: 32px auto;
  padding: 0 40px;
  font-size: 1rem;
  line-height: 2rem;
  text-align: center;
}

@keyframes resultAnime {
  100% {
    opacity: 0;
  }
}

@keyframes openHelp {
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes openMenu {
  0% {
    display: inline-block;
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes catchView {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  25% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  50% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@keyframes catchTrans {
  0% {
    color: transparent;
  }
  25% {
    color: transparent;
  }
  50% {
    color: transparent;
  }
  51% {
    color: #000;
  }
  100% {
    color: #000;
  }
}

@keyframes jumpGocheck {
  100% {
    -webkit-transform: translateX(-50%) scale(1.1, 1.1);
            transform: translateX(-50%) scale(1.1, 1.1);
  }
}

@keyframes ganimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.c_top-text {
  margin: 32px auto;
  padding: 0 40px;
  font-size: 1rem;
  line-height: 2rem;
  text-align: center;
}

@keyframes resultAnime {
  100% {
    opacity: 0;
  }
}

@keyframes openHelp {
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.p_hero__catch {
  position: absolute;
  top: 20vh;
  right: 8%;
  font-size: 1.25rem;
  font-family: serif;
  color: #000;
  overflow: hidden;
}

.p_hero__catch::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.p_hero__gocheck {
  display: block;
  position: absolute;
  bottom: 15vh;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 2.25rem;
  white-space: nowrap;
  color: #000;
  padding: 1rem 2rem;
  background: #fff;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-animation: jumpGocheck 0.8s infinite alternate;
          animation: jumpGocheck 0.8s infinite alternate;
}

.p_hero__gocheck:hover {
  -webkit-box-shadow: 0 0 2rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 2rem rgba(0, 0, 0, 0.3);
}

.p_nav {
  position: fixed;
  bottom: 16px;
  right: 16px;
  width: 48px;
  height: 48px;
  cursor: pointer;
  z-index: 999;
}

.p_nav span {
  position: absolute;
  left: 50%;
  width: 75%;
  height: 4px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #4169e1;
}

.p_nav span:first-child {
  top: 25%;
  -webkit-transition: .3s;
  transition: .3s;
}

.p_nav span:nth-child(2) {
  top: 50%;
  -webkit-transition: .3s;
  transition: .3s;
}

.p_nav span:last-child {
  top: 75%;
  -webkit-transition: .3s;
  transition: .3s;
}

.p_nav span.change {
  background: #fff;
}

.p_nav.open span:first-child {
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(225deg);
          transform: translate(-50%, -50%) rotate(225deg);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.p_nav.open span:nth-child(2) {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
  opacity: 0;
}

.p_nav.open span:last-child {
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-225deg);
          transform: translate(-50%, -50%) rotate(-225deg);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.p_nav.change {
  background: #4169e1;
}

.p_nav__contents {
  position: fixed;
  bottom: 76px;
  right: 16px;
  z-index: 998;
  text-align: right;
}

.p_nav__item {
  display: none;
  opacity: 0;
  margin: 8px 0;
  background: #4169e1;
  border-radius: 20px;
  color: #fff;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  font-size: 1.35rem;
}

.p_nav__item a {
  display: block;
  padding: 16px 24px;
}

.p_nav__item:hover {
  background-color: #2b58de;
}

.p_nav__item:first-child {
  -webkit-transform: translateY(300px);
          transform: translateY(300px);
}

.p_nav__item:nth-child(3) {
  -webkit-transform: translateY(254px);
          transform: translateY(254px);
}

.p_nav__item:nth-child(5) {
  -webkit-transform: translateY(188px);
          transform: translateY(188px);
  font-size: 1.25rem;
  white-space: nowrap;
}

.p_nav__item:nth-child(7) {
  -webkit-transform: translateY(128px);
          transform: translateY(128px);
}

.p_nav__item:last-child {
  -webkit-transform: translateY(62px);
          transform: translateY(62px);
}

.p_nav__item.open {
  display: inline-block;
  -webkit-animation: openMenu 0.3s ease-out forwards;
          animation: openMenu 0.3s ease-out forwards;
}

.p_nav__item.open:nth-child(3) {
  -webkit-animation-delay: 0.05s;
          animation-delay: 0.05s;
}

.p_nav__item.open:nth-child(5) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.p_nav__item.open:nth-child(7) {
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
}

.p_nav__item.open:last-child {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.p_pc-nav__contents {
  position: absolute;
  bottom: 10%;
  left: calc(100% - (2rem + 24px * 2));
  font-size: 2rem;
  font-weight: bold;
  color: #454555;
  z-index: 100;
}

.p_pc-nav__contents.remove {
  -webkit-transition: .15s;
  transition: .15s;
  -webkit-transform: translateX(calc(2rem + 24px * 2 + 8px));
          transform: translateX(calc(2rem + 24px * 2 + 8px));
}

.p_pc-nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  white-space: nowrap;
  -webkit-transition: 1.5s;
  transition: 1.5s;
}

.p_pc-nav__item:not(:first-child) {
  margin-top: 16px;
}

.p_pc-nav__item:hover {
  -webkit-transition: .25s;
  transition: .25s;
  -webkit-transform: translateX(calc(-100% + (2rem + 24px * 2) + 2px));
          transform: translateX(calc(-100% + (2rem + 24px * 2) + 2px));
}

.p_pc-nav__item a {
  display: block;
  width: 100%;
  padding: 16px;
  overflow: hidden;
}

.p_pc-nav__item i {
  padding: 16px 24px;
  text-align: center;
  color: #4169e1;
}

.p_scroll {
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1;
  font-size: 0.8rem;
  font-family: sans-serif;
}

.p_scroll__line {
  width: 1px;
  height: 32px;
  background: currentColor;
  margin: 8px auto 0;
}

.p_index-subtitle {
  position: relative;
  text-align: center;
  margin-top: 32px;
  margin-bottom: 56px;
  font-size: 1.75rem;
  font-weight: bold;
}

.p_index-subtitle::before {
  content: "";
  bottom: -16px;
  left: 50%;
  position: absolute;
  width: 160px;
  height: 6px;
  background: #4169e1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.p_fashion__list {
  width: 80%;
  margin: auto;
  margin-top: 64px;
}

.p_fashion__item, .p_fashion__item--s, .p_fashion__item--w, .p_fashion__item--n {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 88px;
  background: #eee;
  padding: 0 32px;
  background-blend-mode: multiply;
  -webkit-transition: .1s;
  transition: .1s;
  -webkit-box-shadow: 0 8px 10px -6px rgba(0, 0, 0, 0.6);
          box-shadow: 0 8px 10px -6px rgba(0, 0, 0, 0.6);
}

.p_fashion__item:not(:first-child), .p_fashion__item--s:not(:first-child), .p_fashion__item--w:not(:first-child), .p_fashion__item--n:not(:first-child) {
  margin-top: 24px;
}

.p_fashion__item div, .p_fashion__item--s div, .p_fashion__item--w div, .p_fashion__item--n div {
  width: 100%;
  text-align: center;
}

.p_fashion__item img, .p_fashion__item--s img, .p_fashion__item--w img, .p_fashion__item--n img {
  max-width: 320px;
}

.p_fashion__item i, .p_fashion__item--s i, .p_fashion__item--w i, .p_fashion__item--n i {
  margin-left: 24px;
  font-size: 2rem;
  color: #fff;
}

.p_fashion__item--s {
  background: url("../src/images/top_bg.jpg") no-repeat center/cover rgba(15, 35, 96, 0.5);
}

.p_fashion__item--w {
  background: url("../src/images/sozai_01.jpg") no-repeat center/cover rgba(15, 35, 96, 0.6);
}

.p_fashion__item--n {
  background: url("../src/images/top_bg_2.jpg") no-repeat center/cover rgba(15, 35, 96, 0.6);
}

.p_fashion__item:hover, .p_fashion__item--s:hover, .p_fashion__item--w:hover, .p_fashion__item--n:hover {
  opacity: .8;
}

.p_fashion__img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  mix-blend-mode: darken;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.p_fashion__img:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.p_fashion__text {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 10;
}

.p_read__img {
  display: block;
  width: 240px;
  height: 240px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: auto;
}

.p_faq-figure {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}

.p_faq-figure__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 32px;
  z-index: 10;
}

.p_faq-figure__flex img {
  width: 25%;
  max-width: 120px;
  min-width: 50px;
  z-index: 1;
}

.p_faq-figure__flex img:last-child {
  max-width: 200px;
  min-width: 110px;
}

.p_faq-figure__text, .p_faq-figure__text--low {
  position: relative;
  width: 60%;
  padding: 32px 16px;
  font-size: 0.8rem;
  background: #fff;
  border-radius: 16px;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  white-space: nowrap;
  z-index: 1;
}

.p_faq-figure__text::before, .p_faq-figure__text--low::before {
  content: "";
  position: absolute;
  left: -44px;
  top: 50%;
  width: 0;
  height: 0;
  border: 22px solid;
  border-color: transparent #fff transparent transparent;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.p_faq-figure__text--low::before {
  left: 100%;
  border-color: transparent transparent transparent #fff;
}

.p_faq-figure__bg {
  position: absolute;
  top: 10%;
  bottom: 10%;
  left: 10%;
  right: 10%;
  background: #dbe3f9;
  z-index: 0;
}

.p_top-button {
  display: block;
  width: 70%;
  margin: 0px auto 0;
  padding: 16px;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  color: #fff;
  background: #4169e1;
  max-width: 800px;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.p_top-button:hover {
  opacity: 0.8;
}

.p_footer__zozo {
  width: 280px;
}

.p_footer__zozo:hover {
  opacity: .8;
}

.p_footer__title {
  margin: 32px 0 8px;
  font-size: 1.15rem;
}

.p_footer__link, .p_footer__link--other {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.p_footer__link a, .p_footer__link--other a {
  margin: 4px 8px;
  text-decoration: underline;
}

.p_footer__link--other {
  margin: 8px;
}

.p_footer__gotop {
  display: inline-block;
  margin-top: 32px;
}

.p_footer__gotop i {
  padding: 4px 4px 0px;
  margin-left: 4px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 50%;
  background: #ccc;
  color: #fff;
  vertical-align: middle;
}

.p_footer__copyright {
  margin-top: 32px;
  padding-top: 16px;
  border-top: 1px solid #454555;
}

.p_footer__copyright small {
  display: block;
  letter-spacing: 0;
  line-height: 1rem;
  font-size: 0.5rem;
}

.p_checker__title {
  font-size: 1.35rem;
  color: #4169e1;
  font-weight: bold;
  white-space: nowrap;
}

.p_checker__title img {
  width: auto;
  height: 1em;
  padding-right: 8px;
}

.p_checker__info-ul {
  display: inline-block;
  margin: 16px auto 0;
  text-align: left;
}

.p_checker__info-ul li {
  list-style: inside;
}

.p_checker__info-ul li + li {
  margin-top: 0.6rem;
}

.p_checker__strong, .p_checker__strong--second {
  display: block;
  margin: 16px 0;
  font-size: 1.5rem;
  line-height: 2.25rem;
}

.p_checker__strong img, .p_checker__strong--second img {
  width: auto;
  height: 1em;
  padding-right: 8px;
  vertical-align: middle;
}

.p_checker__strong--second {
  font-size: 1.35rem;
}

.p_checker__equal {
  width: 0.8rem;
  height: 1.2rem;
  margin: 4px auto;
  border-left: 4px solid currentColor;
  border-right: 4px solid currentColor;
}

.p_checker__sal {
  color: #ff0000;
}

.p_checker__down {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 32px 72px 0px 72px;
  margin: 16px auto;
  border-color: #4169e1 transparent transparent transparent;
}

.p_checker__gocheck {
  display: block;
  width: 70%;
  margin: 0px auto 0;
  padding: 16px;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  color: #fff;
  background: #4169e1;
  max-width: 800px;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  margin: 16px auto 0;
  font-size: 2rem;
  width: 90%;
}

.p_checker__gocheck:hover {
  opacity: 0.8;
}

.p_checker__gotop {
  display: block;
  width: 70%;
  margin: 0px auto 0;
  padding: 16px;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  color: #fff;
  background: #4169e1;
  max-width: 800px;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  font-size: 1rem;
  margin-top: 48px;
  background: #fff;
  border: 1px solid #4169e1;
  color: #4169e1;
  cursor: pointer;
}

.p_checker__gotop:hover {
  opacity: 0.8;
}

.p_checker__gotop i {
  margin-right: 8px;
  font-size: 1.25rem;
  vertical-align: middle;
}

.p_checker__btn li {
  display: block;
  width: 70%;
  margin: 0px auto 0;
  padding: 16px;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  color: #fff;
  background: #4169e1;
  max-width: 800px;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  margin-bottom: 16px;
  list-style: none;
  font-size: 1rem;
  font-weight: normal;
  cursor: pointer;
}

.p_checker__btn li:hover {
  opacity: 0.8;
}

.p_checker__prev, .p_checker__prev--tp {
  position: absolute;
  bottom: 4%;
  left: 4%;
  width: 80px;
  height: 80px;
  margin-top: 0px;
  background: #dbe3f9;
  border-radius: 50%;
  color: #4169e1;
  font-size: 0.9rem;
  border: #4169e1 1px solid;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.p_checker__prev:hover, .p_checker__prev--tp:hover {
  opacity: 0.8;
}

.p_checker__prev i, .p_checker__prev--tp i {
  display: block;
  position: absolute;
  bottom: 6px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 1.25rem;
}

.p_checker__prev--tp {
  visibility: hidden;
}

.p_checker__frontg {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fff;
  z-index: 500;
}

.p_checker__frontg.active {
  display: block;
  -webkit-animation: ganimation 0.8s forwards;
          animation: ganimation 0.8s forwards;
}

.p_checker__go-result {
  padding: 64px 0;
  color: #444;
  font-size: 2rem;
  font-weight: normal;
}

.p_checker__go-result--anime {
  position: relative;
  padding: 64px 0;
  color: #4169e1;
  font-size: 3rem;
  -webkit-animation: resultAnime 1.2s infinite alternate;
          animation: resultAnime 1.2s infinite alternate;
}

.p_checker__go-result--anime::before, .p_checker__go-result--anime::after {
  content: "";
  position: absolute;
  display: block;
  top: 50%;
  left: 8%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 20vw;
  height: 2px;
  background: -webkit-gradient(linear, right top, left top, from(transparent), color-stop(#4169e1), to(transparent));
  background: linear-gradient(to left, transparent, #4169e1, transparent);
}

.p_checker__go-result--anime::after {
  right: 8%;
  left: auto;
}

.p_result__title {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  margin: 16px 0;
  margin-top: 0;
}

.p_result__bone-type {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.p_result__bone-type p {
  position: absolute;
  left: 50%;
  top: 10%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #fff;
  text-shadow: 0 0 4px black;
  font-size: 1.25rem;
  white-space: nowrap;
}

.p_result__sub-title, .p_result__sub-title--double {
  position: relative;
  text-align: center;
  margin-top: 32px;
  margin-bottom: 56px;
  font-size: 1.75rem;
  font-weight: bold;
  margin: 40px auto !important;
}

.p_result__sub-title::before, .p_result__sub-title--double::before {
  content: "";
  bottom: -16px;
  left: 50%;
  position: absolute;
  width: 160px;
  height: 6px;
  background: #4169e1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.p_result__sub-title--double::before {
  width: 80% !important;
  height: 4px !important;
}

.p_result__sub-title--double::after {
  content: "";
  top: -8px;
  left: 50%;
  position: absolute;
  width: 80%;
  height: 4px;
  background: #4169e1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.p_result__section, .p_result__section--li {
  margin: 72px auto;
}

.p_result__section:last-child, .p_result__section--li:last-child {
  margin-bottom: 0;
  padding-bottom: 72px;
}

.p_result__section--li {
  position: relative;
}

.p_result__chara-list {
  width: 96%;
  padding-left: 1em;
  margin: 40px auto 32px;
  list-style: disc outside;
}

.p_result__chara-list li {
  margin-left: 1em;
}

.p_result__chara-list li + li {
  margin-top: 16px;
}

.p_result__chara-list span {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(70%, transparent), color-stop(70%, #fecd5e));
  background: linear-gradient(transparent 70%, #fecd5e 70%);
}

.p_result__coordinate {
  padding: 0 4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 64px auto 32px;
}

.p_result__model-img {
  width: 30%;
  height: 380px;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}

.p_result__item {
  width: 50%;
  text-align: center;
  margin-left: 16px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.p_result__item-serif {
  margin-bottom: 4px;
  color: #73738d;
}

.p_result__item-serif::before {
  content: "";
  display: inline-block;
  width: 2px;
  height: 0.8em;
  margin-right: 8px;
  background: currentColor;
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
}

.p_result__item-serif::after {
  content: "";
  display: inline-block;
  width: 2px;
  height: 0.8em;
  margin-left: 6px;
  background: currentColor;
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
}

.p_result__item-list li {
  width: 100%;
  margin: 0 auto 16px;
  list-style: none;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.p_result__item-list li:hover {
  opacity: 0.6;
}

.p_result__item-list li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px 16px;
  border: #ccc 1px solid;
  border-radius: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.p_result__item-list li a span:first-child {
  display: none;
  width: 2rem;
  height: 2rem;
  border: #454555 solid 1px;
}

.p_result__item-list li a span:last-child {
  font-weight: bold;
}

.p_result__item-list li a span:last-child::before {
  content: "¥";
}

.p_result__item-name {
  margin: 0 8px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.p_result__sum-low {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 32px 72px 0px 72px;
  margin: 16px auto;
  border-color: #4169e1 transparent transparent transparent;
}

.p_result__sum-low span {
  position: relative;
  bottom: 28px;
  right: 13px;
  font-size: 0.9rem;
  white-space: nowrap;
  font-weight: bold;
  color: #fff;
}

.p_result__sum {
  font-size: 2.5rem;
  font-weight: bold;
}

.p_result__lg-list {
  margin: 0 16px;
}

.p_result__lg-item {
  display: block;
  padding: 16px;
}

.p_result__lg-item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.p_result__lg-item a:hover {
  opacity: 0.8;
}

.p_result__lg-item:not(:first-child) {
  border-top: 1px solid #eee;
}

.p_result__lg-item img {
  width: 112px;
  height: 112px;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.p_result__lg-item p {
  position: relative;
  height: 2.4rem;
  margin: 8px 0 0;
  line-height: 1.25rem;
  font-weight: lighter;
  overflow: hidden;
  color: #ccc;
}

.p_result__lg-item p::after {
  background: -webkit-gradient(linear, left top, right top, from(rgba(100, 180, 225, 0)), color-stop(50%, #fff), to(#fff));
  background: linear-gradient(to right, rgba(100, 180, 225, 0) 0%, #fff 50%, #fff 100%);
  bottom: 0;
  content: "";
  height: calc(1rem * 1.2);
  position: absolute;
  right: 0;
  width: 60px;
}

.p_result__lg-item p:hover {
  text-decoration: underline;
}

.p_result__lg-wrap {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-left: 16px;
}

.p_result__buy {
  display: block;
  width: 70%;
  margin: 0px auto 0;
  padding: 16px;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  color: #fff;
  background: #4169e1;
  max-width: 800px;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.p_result__buy:hover {
  opacity: 0.8;
}

.p_result__sam {
  position: absolute;
  top: 32px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 90%;
  padding: 32px 16px;
  background: #fff;
  border: 2px solid #ccc;
  text-align: center;
  z-index: 3;
}

.p_result__sam img {
  display: inline-block;
  height: 1.25em;
  width: auto;
  vertical-align: middle;
}

.p_result__samt {
  margin-bottom: 16px;
  font-size: 1.25rem;
  line-height: 1.5em;
}

.p_result__samstr {
  font-size: 1.5rem;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(70%, transparent), color-stop(70%, #fdc645));
  background: linear-gradient(transparent 70%, #fdc645 70%);
}

.p_result__samstr small {
  font-size: .8rem;
}

.p_result__sambg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.5)), to(#fff));
  background: linear-gradient(rgba(255, 255, 255, 0.5), #fff 100%);
}

.p_result__samlt {
  font-size: 1.45rem;
}

.p_result__samlt small {
  font-size: .8rem;
}

.p_result__saml p.--str {
  color: #4169e1;
}

.p_result__saml li {
  margin: 32px auto;
  list-style: none;
}

.p_result__samln {
  margin-bottom: 16px;
  font-size: 2rem;
  color: #4169e1;
}

.p_result__sambtn-w {
  margin-bottom: 24px !important;
}

.p_result__sambtn-b {
  margin-top: 0 !important;
}

.p_result__tri, .p_result__tri--f, .p_result__tri--l {
  width: 0;
  height: 0;
  margin: 0 auto;
  margin-bottom: 4px;
  border-style: solid;
  border-width: 16px 32px 0 32px;
  border-color: #4169e1 transparent transparent transparent;
}

.p_result__tri--f {
  margin-top: 24px;
}

.p_result__tri--l {
  margin-bottom: 16px;
}

.p_result__gotop {
  display: block;
  width: 70%;
  margin: 0px auto 0;
  padding: 16px;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  color: #fff;
  background: #4169e1;
  max-width: 800px;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  background: #fff;
  color: #4169e1;
  border: 1px solid #4169e1;
}

.p_result__gotop:hover {
  opacity: 0.8;
}

.p_he-title {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  padding-top: 16px;
}

.p_he-serif {
  display: block;
  margin: 16px auto;
  font-size: 1.35rem;
  text-align: center;
}

.p_he-serif__2 {
  margin-bottom: 8px;
  font-size: 1.25rem;
  text-align: center;
}

.p_he-serif__2::before, .p_he-serif__2::after {
  content: "";
  display: inline-block;
  width: 2px;
  height: 1em;
  border-radius: 2px;
  background: currentColor;
  margin: 0 16px;
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
}

.p_he-serif__2::after {
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
}

.p_he-topsentence, .p_he-topsentence--mar {
  text-align: center;
}

.p_he-topsentence img, .p_he-topsentence--mar img {
  display: inline;
  width: auto;
  height: 1em;
  margin: 0 4px;
  vertical-align: middle;
}

.p_he-topsentence--mar {
  margin-top: 16px;
}

.p_he-card {
  width: 80%;
  margin: auto;
  list-style: none;
  overflow: hidden;
}

.p_he-card:not(:first-child) {
  margin-top: 16px;
}

.p_he-card__title {
  position: relative;
  padding: 16px 40px 16px 16px;
  border: 1px solid #ccc;
  cursor: pointer;
  background: #ffffff;
  z-index: 2;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.p_he-card__title span {
  position: absolute;
  right: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 0;
  height: 0;
  margin-left: 20px;
  border-style: solid;
  border-width: 20px 14px 0 14px;
  border-color: #4169e1 transparent transparent transparent;
}

.p_he-card__title.active {
  color: #fff;
  background: #4169e1;
  border: 1px solid #4169e1;
  cursor: default;
}

.p_he-card__title.active span {
  border: none;
}

.p_he-card__content {
  display: none;
  -webkit-transform: translateY(calc(-100% + -52px));
          transform: translateY(calc(-100% + -52px));
  padding: 16px;
  border-style: solid;
  border-width: 0 1px 1px 1px;
  border-color: #ccc;
  -webkit-transform-origin: top;
          transform-origin: top;
}

.p_he-card__content.active {
  display: block;
  -webkit-animation: openHelp 0.5s forwards;
          animation: openHelp 0.5s forwards;
}

.p_he-card__admin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto 16px;
  font-size: 1.15rem;
  max-width: 260px;
}

.p_he-card__admin img {
  width: 30%;
  height: 30%;
  margin-right: 16px;
}

.p_he-card__admin p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
}

.p_he-card p span {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(70%, transparent), color-stop(70%, #fecd5e));
  background: linear-gradient(transparent 70%, #fecd5e 70%);
}

.p_he-card p img {
  display: inline;
  width: auto;
  height: 1.25em;
  vertical-align: middle;
  padding-right: 4px;
}

.p_he-card__link {
  display: block;
  padding: 8px;
  margin-top: 16px;
  text-align: center;
  border: 2px solid;
  font-size: 1.25rem;
  background: #dbe3f9;
  color: #4169e1;
}

.p_he-card__link:hover {
  opacity: 0.6;
}

.p_he-card__zozo, .p_result__sambtn-b, .p_he-card__zozo--l, .p_result__sambtn-w {
  display: block;
  padding: 16px 8px;
  margin-top: 16px;
  text-align: center;
  background: #000000;
  color: #fff;
}

.p_he-card__zozo:hover, .p_result__sambtn-b:hover, .p_he-card__zozo--l:hover, .p_result__sambtn-w:hover {
  opacity: .6;
}

.p_he-card__zozo--l, .p_result__sambtn-w {
  background-color: #fff;
  color: #454555;
  border: 1px solid currentColor;
}

.p_he-sub-title {
  position: relative;
  text-align: center;
  margin-top: 32px;
  margin-bottom: 56px;
  font-size: 1.75rem;
  font-weight: bold;
  margin-top: 64px !important;
}

.p_he-sub-title::before {
  content: "";
  bottom: -16px;
  left: 50%;
  position: absolute;
  width: 160px;
  height: 6px;
  background: #4169e1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.p_he-form__warn {
  margin-top: 16px;
  font-size: 0.8rem;
  line-height: 1rem;
  text-align: center;
  color: #73738d;
}

.p_he-form__title {
  font-size: 1.25rem;
  text-align: center;
}

.p_he-form__title span {
  font-size: 0.8rem;
}

.p_he-form__textarea {
  width: 100%;
  height: 120px;
  padding: 16px;
  margin-top: 8px;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.3) inset;
          box-shadow: 0 0 2px rgba(0, 0, 0, 0.3) inset;
  border-radius: 8px;
}

.p_he-form__textarea:focus {
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3) inset;
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.3) inset;
}

.p_he-form__submit {
  display: block;
  width: 70%;
  margin: 0px auto 0;
  padding: 16px;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  color: #fff;
  background: #4169e1;
  max-width: 800px;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  width: 50%;
  margin-top: 16px;
  font-size: 1rem;
}

.p_he-form__submit:hover {
  opacity: 0.8;
}

.p_re-title {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  padding-top: 16px;
}

.p_re-topsentence {
  text-align: center;
}

.p_re-topsentence--m {
  text-align: center;
  margin-top: 32px;
}

.p_re-topimg {
  display: block;
  margin: auto;
  max-width: 640px;
}

.silhouettesam {
  text-align: center;
  background: #dbe3f9;
  height: 200px;
  width: 94%;
  margin: 16px auto;
}

.p_re-sil-list {
  width: 74%;
  margin: 16px auto;
  padding: 16px;
  border: 3px solid #4169e1;
  text-align: center;
  font-size: .8rem;
}

.p_re-sil-list li {
  list-style: decimal inside;
}

.p_re-sil-list li:not(:first-child) {
  margin-top: 16px;
  padding-left: 5px;
}

.p_re-sil-list li::marker {
  padding-right: 16px;
  color: #4169e1;
}

.p_re-sil-list li a {
  margin-left: 4px;
}

.p_re-sil-list li a:hover {
  text-decoration: underline;
}

.p_re-sil__subtitle {
  position: relative;
  text-align: center;
  margin-top: 32px;
  margin-bottom: 56px;
  font-size: 1.75rem;
  font-weight: bold;
  font-size: 1.15rem;
}

.p_re-sil__subtitle::before {
  content: "";
  bottom: -16px;
  left: 50%;
  position: absolute;
  width: 160px;
  height: 6px;
  background: #4169e1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.p_re-sil__item {
  margin: 32px auto;
  max-width: 880px;
}

.p_re-sil__item img {
  display: block;
  width: 50%;
  margin: auto;
}

.p_re-sil__title {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 16px;
  text-align: center;
  font-size: 1.5rem;
  border-left: 8px solid #4169e1;
}

.p_re-skl__title {
  position: relative;
  text-align: center;
  margin-top: 32px;
  margin-bottom: 56px;
  font-size: 1.75rem;
  font-weight: bold;
  font-size: 1.35rem;
}

.p_re-skl__title::before {
  content: "";
  bottom: -16px;
  left: 50%;
  position: absolute;
  width: 160px;
  height: 6px;
  background: #4169e1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.p_re-skl__point {
  margin-bottom: 4px;
  text-align: center;
}

.p_re-skl__box {
  padding: 16px;
  background: #dbe3f9;
  font-size: .8rem;
}

.p_re-skl__box li {
  margin-left: 2em;
}

.p_re-skl__box li + li {
  margin-top: 1rem;
}

.p_re-skl__text {
  margin: 16px 0;
}

.p_re-reco__title {
  position: relative;
  text-align: center;
  margin-top: 32px;
  margin-bottom: 56px;
  font-size: 1.75rem;
  font-weight: bold;
  font-size: 1.35rem;
}

.p_re-reco__title::before {
  content: "";
  bottom: -16px;
  left: 50%;
  position: absolute;
  width: 160px;
  height: 6px;
  background: #4169e1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.p_re-reco__list li {
  margin: 40px 0;
  list-style: none;
}

.p_re-reco__list img {
  display: block;
  width: 240px;
  height: 240px;
  margin: 24px auto;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}

.p_re-reco__in {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.p_re-reco__in::first-letter {
  vertical-align: text-bottom;
  font-size: 1.2em;
  color: #4169e1;
}

.p_re-reco__exp {
  margin: 24px auto;
  max-width: 640px;
}

.p_re-reco__btn, .p_re-reco__btn--m {
  display: block;
  width: 70%;
  margin: 0px auto 0;
  padding: 16px;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  color: #fff;
  background: #4169e1;
  max-width: 800px;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  font-size: 1.25rem;
}

.p_re-reco__btn:hover, .p_re-reco__btn--m:hover {
  opacity: 0.8;
}

.p_re-reco__btn::after, .p_re-reco__btn--m::after {
  position: absolute;
}

.p_re-reco__btn--m {
  margin-top: 16px;
}

.p_re-reco__note {
  display: block;
  margin: 16px;
  font-size: .8rem;
  color: #73738d;
  text-align: center;
}

.p_re-taste__title {
  position: relative;
  text-align: center;
  margin-top: 32px;
  margin-bottom: 56px;
  font-size: 1.75rem;
  font-weight: bold;
  font-size: 1.35rem;
}

.p_re-taste__title::before {
  content: "";
  bottom: -16px;
  left: 50%;
  position: absolute;
  width: 160px;
  height: 6px;
  background: #4169e1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@keyframes openMenu {
  0% {
    display: inline-block;
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes catchView {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  25% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  50% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@keyframes catchTrans {
  0% {
    color: transparent;
  }
  25% {
    color: transparent;
  }
  50% {
    color: transparent;
  }
  51% {
    color: #000;
  }
  100% {
    color: #000;
  }
}

@keyframes jumpGocheck {
  100% {
    -webkit-transform: translateX(-50%) scale(1.1, 1.1);
            transform: translateX(-50%) scale(1.1, 1.1);
  }
}

@keyframes ganimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.c_top-text {
  margin: 32px auto;
  padding: 0 40px;
  font-size: 1rem;
  line-height: 2rem;
  text-align: center;
}

@keyframes resultAnime {
  100% {
    opacity: 0;
  }
}

@keyframes openHelp {
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@media screen and (min-width: 1024px) {
  .l_pc-nav {
    display: block;
  }
  .p_nav {
    display: none;
  }
  .p_hero__catch {
    right: 50%;
    top: 38vh;
    font-size: 1.75rem;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
  .p_hero__gocheck {
    bottom: 38vh;
    left: 50%;
    width: 70%;
    text-align: center;
    background: #4169e1;
    color: #fff;
  }
  .p_scroll {
    left: 75%;
    font-size: 1.5rem;
    font-weight: lighter;
  }
  .p_nav__contents {
    bottom: 120px;
  }
  .l_top-wrap,
  .l_re-wrap,
  .l_he-wrap,
  .l_type-wrap {
    background: url("../src/images/top_bg_2.jpg") no-repeat left center fixed;
    background-size: 50% auto;
  }
  .l_hero {
    background: none;
  }
  .l_main {
    width: 50%;
    margin-left: auto;
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
            box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    background: #fff;
  }
  .l_footer {
    margin-top: 0;
    width: 50%;
    margin-left: auto;
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
            box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  }
  .c_top-text {
    font-size: 1.2rem;
  }
  .p_faq-figure__text, .p_faq-figure__text--low {
    font-size: 1rem;
  }
  .p_fashion__list {
    width: 70%;
  }
  .p_fashion__item, .p_fashion__item--s, .p_fashion__item--w, .p_fashion__item--n {
    height: 120px;
  }
  .p_fashion__item i, .p_fashion__item--s i, .p_fashion__item--w i, .p_fashion__item--n i {
    font-size: 3rem;
  }
  .p_result__lg-list {
    width: 80%;
    margin: 0 auto;
  }
  .l_header {
    position: fixed;
  }
  .p_re-title {
    padding-top: 64px;
  }
  .p_he-title {
    padding-top: 64px;
  }
  .p_result__title {
    padding-top: 64px;
  }
}
/*# sourceMappingURL=style.css.map */