@charset "UTF-8";

@import "../object/component";

.l_sam {
  height: 100vh;
}

.l_header {
  position: sticky;
  width: 100%;
  padding: 16px 0;
  text-align: center;
  z-index: 999;

  img {
    width: 8px * 20;
  }
}

.l_hero {
  position: relative;
  height: 100vh;
  background: url("../src/images/top_bg.jpg") left top;
  background-size: cover;
}

// .l_fashion {
//   height: 100vh;
// }

.l_top-section {
  padding: 48px 2%;
  // margin:  0;

  &:last-child {
    padding-bottom: 96px;
  }

  &--f {
    @extend .l_top-section;
    text-align: center;
    padding-top: 96px;

    h2 img {
      display: inline-block;
      width: auto;
      height: 1.25em;
      margin: 0 4px;
    }
  }
}

.l_footer {
  margin-top: 64px;
  padding: 32px;
  background: #eee;
  text-align: center;
}

.l_checker {
  &__info {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../src/images/top_bg_2.jpg") no-repeat center;
    background-size: cover;
    height: 100vh;
  }

  &__info-wrap {
    width: 90%;
    margin: 5% auto;
    padding: 32px 16px;
    background: rgba($color: #fff, $alpha: 0.9);
    text-align: center;
  }

  &__sec {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    text-align: center;
    flex-direction: column;
  }

  &__in {
    width: 100%;

    h2 {
      font-size: 2rem;
      font-weight: bold;
    }

    p {
      margin: 1rem;
      font-size: 1.25rem;
    }

    span {
      display: inline-block;
      width: 16px;
      height: 16px;
      margin: 0 2px 24px;
      border: solid #ccc 1px;
      border-radius: 50%;

      &.active {
        background: $main_color;
      }
    }
  }

  &__result {
    cursor: pointer;
  }
}

.l_pc-nav {
  display: none;
  position: fixed;
  width: 50%;
  height: 100vh;
  left: 0;
  margin-right: auto;
  // background: rgba($color: red, $alpha: .8);
  overflow: hidden;
  // z-index: 1000;
  z-index: 0;
}

.l_he-section {
  margin: 96px auto;

  &:last-child {
    margin-bottom: 0;
    padding-bottom: 96px;
  }
}

.l_he-form {
  width: 70%;
  margin: 32px auto;
}

.l_re-section {
  margin: 96px auto;
  padding: 0 4%;

  &:last-child {
    margin-bottom: 0;
    padding-bottom: 96px;
  }
}

.l_re-section p span {
  background: linear-gradient(transparent 70%, lighten($accent_color, 15) 70%);
}

.l_re-sil {
  li {
    list-style: none;
  }

  p {
    margin-top: 16px;
  }
}
