@charset "UTF-8";

@import "../object/component";

.l_sam {
  height: 100vh;
}

.l_header {
  position: fixed;
  width: 100%;
  padding: 16px 0;
  text-align: center;
  z-index: 999;

  img {
    width: 8px * 20;
  }
}

.l_hero {
  position: relative;
  height: 100vh;
  background: url("../src/images/hero_img.jpeg") center;
  background-size: cover;
}

// .l_fashion {
//   height: 100vh;
// }

.l_top-section {
  padding: 2%;
}

.l_footer {
  margin-top: 64px;
  padding: 32px;
  background: #eee;
  text-align: center;
}

.l_checker {
  
  &__sec {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    text-align: center;
  }

  &__in {
    width: 100%;

    h2 {
      font-size: 1.5rem;
      font-weight: bold;
    }

    p {
      margin: 1rem;
    }

    span {
      display: inline-block;
      width: 16px;
      height: 16px;
      margin: 0 2px 16px;
      border: solid #ccc 1px;
      border-radius: 50%;

      &.active {
        background: $main_color;
      }
    }
  }
}