@charset "UTF-8";

@import "../object/component";

.p_hero {
  &__catch {
    position: absolute;
    bottom: 34vh;
    right: 3%;
    // padding: 4px 8px;
    // background: #fff;
    font-size: 1.25rem;
    font-family: serif;
    color: #000;
  }

  &__gocheck {
    display: block;
    position: absolute;
    bottom: 15vh;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2.25rem;
    // font-family: serif;
    white-space: nowrap;
    color: #000;
    padding: 1rem 2rem;
    background: #fff;
    border-radius: 8px; //勝手に角丸にしました。
    box-shadow: 0 0 1rem rgba($color: #000000, $alpha: 0.2);
    transition: 0.2s;
    animation: jumpGocheck 0.8s infinite alternate;

    &:hover {
      box-shadow: 0 0 2rem rgba($color: #000000, $alpha: 0.3);
    }
  }
}

.p_nav {
  position: fixed;
  bottom: 16px;
  right: 16px;
  width: 48px;
  height: 48px;
  cursor: pointer;
  z-index: 999;

  span {
    position: absolute;
    left: 50%;
    width: 75%;
    height: 4px;
    transform: translate(-50%, -50%);
    background: $main_color;

    &:first-child {
      top: 25%;
    }

    &:nth-child(2) {
      top: 50%;
    }

    &:last-child {
      top: 75%;
    }

    &.change {
      background: #fff;
    }
  }

  &.open {
    span {
      &:first-child {
        top: 50%;
        transform: translate(-50%, -50%) rotate(225deg);
        transition: all 0.3s;
      }

      &:nth-child(2) {
        transform: translateX(-100%);
        transition: all 0.3s;
        opacity: 0;
      }

      &:last-child {
        top: 50%;
        transform: translate(-50%, -50%) rotate(-225deg);
        transition: all 0.3s;
      }
    }
  }

  &.change {
    background: $main_color;
  }

  &__contents {
    position: fixed;
    bottom: 76px;
    right: 16px;
    z-index: 998;
    text-align: right;
  }

  &__item {
    display: none;
    opacity: 0;
    margin: 8px 0;
    background: $main_color;
    border-radius: 16px;
    color: #fff;
    box-shadow: 0 0 8px rgba($color: #000000, $alpha: 0.2);

    a {
      display: block;
      padding: 16px;
    }

    &:hover {
      background-color: darken($main_color, 5);
    }

    &:first-child {
      transform: translateY(300px);
    }

    &:nth-child(3) {
      transform: translateY(254px);
    }

    &:nth-child(5) {
      transform: translateY(188px);
    }

    &:nth-child(7) {
      transform: translateY(128px);
    }

    &:last-child {
      transform: translateY(62px);
    }

    &.open {
      display: inline-block;
      animation: openMenu 0.3s ease-out forwards;

      &:nth-child(3) {
        animation-delay: 0.05s;
      }

      &:nth-child(5) {
        animation-delay: 0.1s;
      }

      &:nth-child(7) {
        animation-delay: 0.15s;
      }

      &:last-child {
        animation-delay: 0.2s;
      }
    }
  }
}

.p_scroll {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  z-index: 1;
  font-size: 0.8rem;

  &__line {
    width: 1px;
    height: 32px;
    background: currentColor;
    margin: 8px auto 0;
  }

  // &::before {
  //   content: "";
  //   width: 1px;
  //   height: 22px;
  //   background: #000;
  //   position: absolute;
  //   top: 24px;
  //   bottom: 0;
  //   left: 50%;
  // }
}

// .p_fashion {

// 	&__list {
// 		padding-top: 8px * 20;
// 		// padding-bottom: 8px * 20;

// 	}

// 	&__item {
// 		display: block;
// 		width: 100%;
// 		padding: 32px 32px;
// 		background: url("../src/images/hero_img.jpeg") rgba(0, 0, 0, 0.2) no-repeat;
// 		background-size: cover;
// 		background-blend-mode: darken;
// 		font-size: 1.2rem;
// 		color: #fff;
// 		overflow: hidden;
// 		transition: .3s;

// 		&:hover {
// 			background-color: rgba(0, 0, 0, 0);
// 		}

// 	}
// }

.p_fashion {
  &__list {
    margin-top: 64px;
  }

  &__item {
    position: relative;
    //    margin: 0 8px 32px;
    margin: 16px auto;
    width: 80%;
    height: 120px;
    //    max-width: 180px;
    overflow: hidden;
    background-color: rgba($color: #000000, $alpha: 0.2);
    transform: skewY(-5deg);
    white-space: nowrap;

    img {
      display: block;
      object-fit: cover;
      object-position: center;
      mix-blend-mode: darken;
      transition: 0.3s;

      &:hover {
        transform: scale(1.1, 1.1);
      }
    }
  }

  &__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-shadow: 0 0 4px rgba($color: #000000, $alpha: 1);
    z-index: 10;
    font-size: 1.5rem;
  }

  // &__back {
  //   position: absolute;
  //   top:0;
  //   left: 0;
  //   bottom: 0;
  //   right: 0;
  //   background: rgba($color: #000000, $alpha: 0.3);
  // }
}

.p_read {
  &__img {
    display: block;
    width: 240px;
    height: 240px; //一旦ここに置いておく
    object-fit: contain;
    margin: auto;
    border: $main_color 2px solid;
  }
}

.p_faq-figure {
  position: relative;
  max-width: 800px;
  margin: 0 auto;

  &__flex {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 32px;

    img {
      width: 25%;
      max-width: 120px;
      min-width: 50px;

      &:last-child {
        max-width: 200px;
        min-width: 110px;
      }
    }
  }

  &__text {
    position: relative;
    width: 60%;
    // height: 100px;
    padding: 32px 16px;
    font-size: 0.8rem;
    background: #fff;
    border-radius: 16px;
    box-shadow: 0 0 8px rgba($color: #000000, $alpha: 0.1);
    text-align: center;
    white-space: nowrap;

    &::before {
      content: "";
      position: absolute;
      left: -44px;
      top: 50%;
      width: 0;
      height: 0;
      border: 22px solid;
      border-color: transparent #fff transparent transparent;
      transform: translateY(-50%);
    }

    &--low {
      @extend .p_faq-figure__text;

      &::before {
        left: 100%;
        border-color: transparent transparent transparent #fff;
      }
    }
  }

  &__bg {
    position: absolute;
    top: 10%;
    bottom: 10%;
    left: 10%;
    right: 10%;
    background: lighten($color: $main_color, $amount: 30);
    z-index: -50;
  }
}

.p_top-button {
  @include main-button;
}

.p_footer {
  &__zozo {
    width: 280px;
  }

  &__title {
    margin: 32px 0 8px;
    font-size: 1.15rem;
  }

  &__link {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    a {
      margin: 4px 8px;
      text-decoration: underline;
    }

    &--other {
      @extend .p_footer__link;
      margin: 8px;
    }
  }

  &__gotop {
    display: inline-block;
    margin-top: 32px;

    i {
      padding: 4px;
      margin-left: 4px;
      font-size: 0.8rem;
      font-weight: bold;
      border-radius: 50%;
      background: #ccc;
      color: #fff;
    }
  }

  &__copyright {
    margin-top: 32px;
    padding-top: 16px;
    border-top: 1px solid #454555;

    small {
      display: block;
      letter-spacing: 0;
      line-height: 1rem;
      font-size: 0.5rem;
    }
  }
}

.p_checker {
  &__title {
    // margin-top: 24px;
    font-size: 1.35rem;
    color: $main_color;
    font-weight: bold;
    white-space: nowrap;

    img {
      width: auto;
      height: 1em;
      padding-right: 8px;
    }
  }

  &__info-ul {
    display: inline-block;
    margin: 16px auto 0;
    text-align: left;

    li {
      list-style: inside;
    }

    li + li {
      margin-top: 0.6rem;
    }
  }

  &__strong {
    display: block;
    margin: 16px 0;
    font-size: 1.5rem;
    line-height: 2.25rem;

    img {
      width: auto;
      height: 1em;
      padding-right: 8px;
      vertical-align: middle;
    }

    &--second {
      @extend .p_checker__strong;
      // margin-top: 24px;
      font-size: 1.35rem;
    }
  }

  &__equal {
    width: 0.8rem;
    height: 1.2rem;
    margin: 4px auto;
    border-left: 4px solid currentColor;
    border-right: 4px solid currentColor;
  }

  &__sal {
    color: #ff0000;
  }

  &__down {
    @include triangle;
    margin: 16px auto;
    border-color: $main_color transparent transparent transparent;
  }

  &__gocheck {
    @include main-button;
    margin: 16px auto 0;
    font-size: 2rem;
    width: 90%;
    border-radius: 8px;
  }

  &__btn {
    li {
      @include main-button;
      margin-bottom: 16px;
      list-style: none;
      font-size: 1rem;
      font-weight: normal;
      cursor: pointer;
    }
  }

  &__prev {
    width: 80px;
    height: 80px;
    margin-top: 16px;
    background: lighten($main_color, 35);
    border-radius: 50%;
    color: $main_color;
    font-size: .9rem;
    border: $main_color 1px solid;
    transition: .1s;

    &:hover {
      opacity: .8;
    }
  }

  &__frontg {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #fff;
    z-index: 500;

    &.active {
      display: block;
      animation: ganimation 0.8s forwards;
    }
  }

  &__go-result {
    padding: 64px 0;
    color: #444;
    font-size: 2rem;
    font-weight: normal;

    &--anime {
      position: relative;
      padding: 64px 0;
      color: $main_color;
      font-size: 3rem;
      animation: resultAnime 1.2s infinite alternate;

      &::before, &::after {
        content: '';
        position: absolute;
        display: block;
        top: 50%;
        left: 8%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 20vw;
        height: 2px;
        background: linear-gradient(to left,transparent,$main_color,transparent);
      }

      &::after {
        right: 8%;
        left: auto;
      }
    }
  }
}

.p_result {
  &__title {
    margin: 16px 0;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
  }

  &__bone-type {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 88%;
    height: 30vh;
    margin: 16px auto;
    background: lighten($main_color, 35);
    max-width: 800px;

    h1 {
      width: 110%;
    }

    p {
      font-size: 1.25rem;
    }
  }

  &__sub-title {
    @extend .c_index;
    margin: 40px auto !important;
    font-size: 3rem;

    &--double {
      @extend .p_result__sub-title;

      &::before {
        width: 80% !important;
        height: 4px !important;
      }

      &::after {
        content: "";
        top: -8px;
        left: 50%;
        position: absolute;
        width: 80%;
        height: 4px;
        background: $main_color;
        transform: translate(-50%, -50%);
      }
    }
  }

  &__section {
    margin: 72px auto;
  }

  &__chara-list {
    width: 80%;
    margin: 40px auto 32px;
    list-style: disc outside;

    li {
      margin-left: 1em;
    }

    li + li {
      margin-top: 16px;
    }

    span {
      color: $accent-color;
    }
  }

  &__coordinate {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin: 56px auto;
  }

  &__model-img {
    width: 50%;
    height: 320px;
    object-position: center;
    object-fit: cover;
  }

  &__item {
    margin-top: 24px;
    text-align: center;
  }

  &__item-serif {
    margin-bottom: 4px;
    color: lighten(#454555, 20);

    &::before {
      content: "";
      display: inline-block;
      width: 2px;
      height: 0.8em;
      margin-right: 8px;
      background: currentColor;
      transform: rotate(-15deg);
    }

    &::after {
      content: "";
      display: inline-block;
      width: 2px;
      height: 0.8em;
      margin-left: 6px;
      background: currentColor;
      transform: rotate(15deg);
    }
  }

  &__item-list {
    li {
      width: 85%;
      margin: 0 auto 16px;
      list-style: none;
      transition: 0.3s all;

      &:hover {
        opacity: 0.6;
      }
    }

    li a {
      display: flex;
      padding: 8px;
      border: #ccc 1px solid;
      border-radius: 16px;
      align-items: center;
      justify-content: center;

      span:first-child {
        display: inline-block;
        width: 2rem;
        height: 2rem;
        border: #454555 solid 1px;
      }

      span:last-child {
        font-weight: bold;

        &::before {
          content: "¥";
        }
      }
    }
  }

  &__item-name {
    width: calc(100% - (6rem + 2rem + 24px));
    margin: 0 12px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  &__sum-low {
    @include triangle;
    margin: 16px auto;
    border-color: $main_color transparent transparent transparent;

    span {
      position: relative;
      bottom: 28px;
      right: 13px;
      font-size: 0.9rem;
      white-space: nowrap;
      font-weight: bold;
      color: #fff;
    }
  }

  &__sum {
    font-size: 2.5rem;
    font-weight: bold;
  }

  &__lg-list {
    margin: 0 16px;
  }

  &__lg-item {
    display: block;
    padding: 16px;

    a {
      display: flex;
      align-items: center;
      transition: 0.3s;
    }

    a:hover {
      opacity: 0.8;
    }

    &:not(:first-child) {
      border-top: 2px solid #eee;
    }

    img {
      width: 112px;
      height: 112px;
      overflow: hidden;
      object-fit: cover;
      object-position: top;
    }

    p {
      position: relative;
      height: 1.1rem * 1.2 * 2;
      margin: 8px 0 0;
      font-size: 1.1rem;
      line-height: 1.25rem;
      overflow: hidden;
      color: #ccc;

      &::after {
        background: linear-gradient(
          to right,
          rgba(100, 180, 225, 0) 0%,
          #fff 50%,
          #fff 100%
        );
        bottom: 0;
        content: "";
        height: calc(1.1rem * 1.2);
        position: absolute;
        right: 0;
        width: 60px;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__lg-wrap {
    flex: 1;
    padding-left: 16px;
  }
}
